.item-margin-around-single-icon{
    margin: 0 1em 0 1em
}
.item-margin-left-icon{
    margin: 1em
}
.item-margin-left-app-bar{
    margin-left: 0.2em
}
.item-margin-right-app-bar{
    margin-right: 1em
}
.item-stepper-bottom-margin{
    margin-bottom: 1em
}
.item-global-margin-bottom{
    margin-bottom: 1em
}
.item-vertical-center-element{
    margin-top: 20vh;
    transform: translateY(-20%)
}
.item-vertical-flexbox-align-parent{
    display: flex; /* contexte sur le parent : container */
}
.item-vertical-flexbox-align-child{
    margin: auto /* contexte sur l'enfant : items */
}